.chips {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.chip-wrapper button {
    background: none;
    border: none;
    padding: 0;
}

.chip-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s;
}
.chip-image:hover {
    transform: scale(1.1);
}
